<!DOCTYPE HTML>
<html>
  <head>
    <title>location game</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="jquery.js"></script>
    <script src="moment.js"></script>
    <script src="jsts_utils.js"></script>
    <script src="jsts.js"></script>
    <script src="lodash.js"></script>
    <script src="pixi.js"></script>
    <script src="geotools.js"></script>
    <script src="proj4.js"></script>
    <script src="watchposition.js"></script>
  </head>
  <body>
    <script src="game/pixiPatches.js"></script>
    <script src="game/factories.js"></script>
    <script src="game/geometryGen.js"></script>
    <script src="game/actions.js"></script>
    <script src="game/gameInput.js"></script>
    <script src="game/displayFunctions.js"></script>
    <script src="game/timeFunctions.js"></script>
    <script src="game/geoFunctions.js"></script>
    <script src="game/game.js"></script>
  </body>
</html>
